*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: #1F2937;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    padding-left: 150px;
    padding-right: 200px;
    color: white;
    
}
.link-div{
    display: flex;
    flex-direction: row;
    
}
a{
    text-decoration: none;
    color: white;
    margin: 10px;
}
.header-content{
    padding: 80px;
    padding-top: 30px;
    padding-left: 150px;
    padding-right: 200px;
    display: flex;
    justify-content: space-between;
    color: white;
}
a{
    font-size: 18px;
    color: #E5E7EB;
 
}
h3{
    font-size: 24px;
    color: #F9FAF8;
}
button{
    color: white;
    background-color: blue;
    padding: 10px;
    margin-top: 15px;
    border-radius: 20%;
    border: 2px solid black;
}
.body-1{
    text-align: center;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}
.img-div{
    color: blue;
    border: 2px solid blue;
    border-radius: 20%;
    height: auto;
    width: 25%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}