*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: #1F2937;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    padding-left: 150px;
    padding-right: 200px;
    color: white;
    
}
.link-div{
    display: flex;
    flex-direction: row;
    
}
a{
    text-decoration: none;
    color: white;
    margin: 10px;
}
.header-content{
    padding: 80px;
    padding-top: 30px;
    padding-left: 150px;
    padding-right: 200px;
    display: flex;
    justify-content: space-between;
    color: white;
}